{% extends "base.html" %}

{% block titulo %}Página Não Encontrada | SIC{% endblock titulo %}

{% block conteudo %}

    <div class="row">
        <div class="large-3 columns"><p></p></div>
        <div class="large-6 columns" align="center">
            <p><h3>Página não encontrada</h3><hr></p>
            <div class="row">
                <div class="large-2 columns"><p></p></div>
                <div class="large-8 columns">
                    <p>A página que você tentou acessar não existe :(</p>

                    <div class="row">
                        <div class="large-2 columns"><p></p></div>
                        <div class="large-8 columns">
                            <p><a class="button postfix" href="/">Voltar</a></p>
                        </div>
                        <div class="large-2 columns"><p></p></div>
                    </div>
                </div>
                <div class="large-2 columns"><p></p></div>
            </div>
        </div>
        <div class="large-3 columns"><p></p></div>
    </div>

{% endblock conteudo %}