{% extends "base.html" %}

{% block titulo %}Erro no sistema | SIC{% endblock %}

{% block conteudo %}

    <div class="row" align="center">
        <div class="large-3 columns"><p></p></div>
        <div class="large-6 columns">
            <h1>Oops...</h1><hr>

            <p>Ocorreu um erro no sistema :(</p>
            <p>Por favor, entre em contato com o departamento de TI (ramal 220)</p>
            <hr>
            <p><a href="/">Voltar</a></p>
        </div>
        <div class="large-3 columns"><p></p></div>
    </div>

{% endblock %}