{% extends 'base.html' %}

{% block titulo %}Alterar Dados | SIC {% endblock %}

{% block conteudo %}
<div class="row">
    <div class="row" align="center">
        <h2>Alterar Dados</h2><hr>
    </div>

    <div class="row">
        <div class="large-1 small-1 columns">
            <p></p>
        </div>
        <div class="large-10 small-10 columns">
            <div class="row">
                <div class="large-2 small-1 columns">
                    <p></p>
                </div>
                <div class="large-8 small-10 columns">
                    <form action="/login/alterar/dados/" method="POST">
                        {% csrf_token %}
                        <p align="center">Informações Básicas</p>

                        <div class="row">
                            <div class="large-4 columns">{{form_pessoa.cpf.label_tag}}{{form_pessoa.cpf}}</div>
                            <div class="large-8 columns">{{form_pessoa.nome.label_tag}}{{form_pessoa.nome}}</div>
                        </div>

                        <div class="row">
                            <div class="large-4 columns">{{form_pessoa.data_nascimento.label_tag}}{{form_pessoa.data_nascimento}}</div>
                            <div class="large-6 columns">{{form_pessoa.sexo.label_tag}}{{form_pessoa.sexo}}</div>
                            <div class="large-2 columns">{{form_pessoa.filhos.label_tag}}{{form_pessoa.filhos}}</div>
                        </div>

                        <div class="row">
                            <div class="large-6 columns">{{form_pessoa.estado_civil.label_tag}}{{form_pessoa.estado_civil}}</div>
                            <div class="large-6 columns">{{form_pessoa.etnia.label_tag}}{{form_pessoa.etnia}}</div>
                        </div>

                        <div class="row">
                            <div class="large-12 columns">{{form_email.email.label_tag}}{{form_email.email}}</div>
                        </div>

                        <div class="row">
                            <div class="large-12 columns">{{form_pessoa.foto.label_tag}}{{form_pessoa.foto}}</div>
                        </div>

                        <p><hr></p>
                        <p align="center">Registro Geral</p>

                        <div class="row">
                            <div class="large-6 columns">{{form_registro_geral.rg.label_tag}}{{form_registro_geral.rg}}</div>
                            <div class="large-6 columns">{{form_registro_geral.data_expedicao.label_tag}}{{form_registro_geral.data_expedicao}}</div>
                        </div>

                        <div class="row">
                            <div class="large-6 columns">{{form_registro_geral.orgao_expedidor.label_tag}}{{form_registro_geral.orgao_expedidor}}</div>
                            <div class="large-6 columns">{{form_registro_geral.uf.label_tag}}{{form_registro_geral.uf}}</div>
                        </div>

                        <p><hr></p>

                        <p align="center">Naturalidade</p>

                        <div class="row">
                            <div class="large-4 columns">{{form_naturalidade.pais}}</div>
                            <div class="large-4 columns">{{form_naturalidade.uf}}</div>
                            <div class="large-4 columns">{{form_naturalidade.cidade}}</div>
                        </div>

                        <p><hr></p>

                        <p align="center">Endereço</p>

                        <div class="row">
                            <div class="large-4 columns">{{form_endereco.cep.label_tag}}{{form_endereco.cep}}</div>
                            <div class="large-4 columns">{{form_endereco.cidade.label_tag}}{{form_endereco.cidade}}</div>
                            <div class="large-4 columns">{{form_endereco.bairro.label_tag}}{{form_endereco.bairro}}</div>
                        </div>

                        <div class="row">
                            <div class="large-12 columns">{{form_endereco.endereco.label_tag}}{{form_endereco.endereco}}</div>
                        </div>

                        <p><hr></p>
                        <p align="center">Dados Administrativos</p>

                        <div class="row">
                            <div class="large-6 columns">{{form_funcionario.departamento.label_tag}}{{form_funcionario.departamento}}</div>
                            <div class="large-6 columns">{{form_funcionario.cargo.label_tag}}{{form_funcionario.cargo}}</div>
                        </div>

                        <div class="row">
                            <div class="large-6 columns">{{form_funcionario.matricula.label_tag}}{{form_funcionario.matricula}}</div>
                            <div class="large-6 columns">{{form_funcionario.ramal.label_tag}}{{form_funcionario.ramal}}</div>
                        </div>

                        <p><hr></p>

                        <div class="row">
                            <div class="large-2 columns">
                                <p></p>
                            </div>
                            <div class="large-8 columns">
                                <button class="postfix">Enviar</button>
                            </div>
                            <div class="large-2 columns">
                                <p></p>
                            </div>
                        </div>

                    </form>
                    </div>
                <div class="large-1 small-1 columns"><p></p></div>
            </div>
        </div>
        <div class="large-2 small-1 columns"></div>
    </div>
</div>

{% endblock %}