<!DOCTYPE html>
<html lang="pt-br" class="no-js">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title%}Sistema Integrado CIAS{% endblock title%}</title>

    {% block css %}
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "foundation/css/foundation.css" %}" />
    {% endblock css %}
    
    {% block header_scripts %}
    {% endblock header_scripts %}
</head>

<body>
    <div class=" sticky">
        <nav class="top-bar" data-topbar data-options="sticky_on: large">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Sistema Integrado CIAS</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menux</span></a></li>
            </ul>
        </nav>
    </div>

    <br>
    <div class="row">
        <div class="large-12" align="center">
            {% load staticfiles %}
            <img src="{% static "img/gdf-logo.png" %}" alt="gdf-logo" align="left" width="10%">

            <div align="right">
                <br><h2><b>Fabrica Social</b></h2>
                <h4>Centro de Capacitacao Profissional - CIAS</h4>
            </div><br>
            <hr />
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    {% block modal %}
    {% endblock modal %}

    {% block graph_scripts %}
    {% endblock graph_scripts %}

    {% load staticfiles %}
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>

    <script>
      $(document).foundation();
    </script>

    {% block footer_scripts %}
    {% endblock footer_scripts %}
</body>