<!DOCTYPE html>
<html lang="pt-br" class="no-js">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block titulo%}Sistema Integrado CIAS{% endblock %}</title>

    {% block css %}
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
    {% endblock %}

    {% block scripts_cabecalho %}
    {% endblock %}
</head>

<body>
    {% block top-bar %}{% include 'top-bar.html' %}{% endblock %}

    <br>
    <div class="row">
        <div class="large-12" align="center">
            {% load staticfiles %}
            <img src="{% static "img/gdf-logo.png" %}" alt="gdf-logo" align="left" width="10%">

            <div align="right">
                <br><h2><b>Fábrica Social</b></h2>
                <h4>Centro de Capacitacao Profissional - CIAS</h4>
            </div><br>
            <hr />
        </div>
    </div>

    {% block conteudo %}
    {% endblock %}

    <div id="modal_erro" class="reveal-modal small" data-reveal>
        <h2>Ops...</h2>
        <p class="lead">Alguma coisa aconteceu!</p>
        <p><b>{% block modal_erro %}{% endblock %}</b></p>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="modal_sucesso" class="reveal-modal small" data-reveal>
        <h2>Sucesso!!</h2>
        <p class="lead">Operação realizada com sucesso!</p>
        <p><b>{% block modal_sucesso %}{% endblock %}</b></p>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    {% include 'alterar_senha.html' %}

    {% block modal %}
    {% endblock %}

    {% block graficos %}
    {% endblock %}

    {% load staticfiles %}
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>

    <script>
      $(document).foundation();
    </script>

    {% block scripts_ajax %}
    {% endblock %}

    {% block scripts_rodape %}
    {% endblock %}
</body>