<!DOCTYPE html>
<html lang="pt-br" class="no-js">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block titulo%}Sistema Integrado CIAS{% endblock titulo%}</title>

    {% block css %}
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "foundation/css/foundation.css" %}" />
    {% endblock css %}
    
    {% block scripts_cabecalho %}
    {% endblock scripts_cabecalho %}
</head>

<body>
    <div class=" sticky">
        <nav class="top-bar" data-topbar data-options="sticky_on: large">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Sistema Integrado CIAS</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            {% if user.is_authenticated %}

              <section class="top-bar-section">
                <ul class="right">
                  <li class="has-dropdown">
                    <a href="">{{user}}</a>
                    <ul class="dropdown">
                      <li><a href="#">Alterar Senha</a></li>
                    </ul>
                  </li>

                  <li class="divider"></li>

                  <li class="active">
                    <a href="/login/sair">Sair</a>
                  </li>
                </ul>
              </section>

            {% else %}
            {% endif %}
        </nav>
    </div>

    <br>
    <div class="row">
        <div class="large-12" align="center">
            {% load staticfiles %}
            <img src="{% static "img/gdf-logo.png" %}" alt="gdf-logo" align="left" width="10%">

            <div align="right">
                <br><h2><b>Fábrica Social</b></h2>
                <h4>Centro de Capacitacao Profissional - CIAS</h4>
            </div><br>
            <hr />
        </div>
    </div>

    {% block conteudo %}
    {% endblock conteudo %}

    <div id="modal_erro" class="reveal-modal small" data-reveal>
      <h2>Ops...</h2>
      <p class="lead">Alguma coisa aconteceu!</p>
      <p><b>{% block modal_erro %}{% endblock %}</b></p>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block graficos %}
    {% endblock graficos %}

    {% load staticfiles %}
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>

    <script>
      $(document).foundation();
    </script>

    {% block scripts_rodape %}
    {% endblock scripts_rodape %}
</body>