{% extends 'base.html' %}

{% block titulo %}Home | SIC{% endblock %}

{% block conteudo %}

    <div class="row">
        <div class="large-4 columns"><p></p></div>
        <div class="large-4 columns">
            <a href="/ponto/" class="button large expand radius">PONTO</a>
        </div>
        <div class="large-4 columns"><p></p></div>
    </div>

    {%if gerencia %}
    <div class="row">
        <div class="large-4 columns"><p></p></div>
        <div class="large-4 columns">
            <a href="/painel/" class="button large expand radius">PAINEL DE CONTROLE</a>
        </div>
        <div class="large-4 columns"><p></p></div>
    </div>
    {%endif%}

{% endblock %}

{% block modal_sucesso %}Sua senha foi alterada.{% endblock %}

{% block scripts_rodape %}
    {% if sucesso == True %}
        <script type="text/javascript">
            $('#modal_sucesso').foundation('reveal', 'open');
        </script>
    {% endif %}
{% endblock %}