{% extends 'base.html' %}

{% block titulo %}Lista Telefônica | SIC{% endblock %}

{% block conteudo %}

<div class="row">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name"><h1><a href="#">Telefones</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href="#"></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li class="has-form">
                <div class="row collapse">
                    <div class="large-9 small-9 columns">
                        <input id="procurar_funcionario" type="text" placeholder="Procurar Funcionário"
                        onfocus="selecionarTabBusca();"
                        onkeyup="buscaFuncionarios();"
                        style="height: auto !important;padding-top: .35rem !important;padding-bottom: .35rem !important;">
                    </div>
                    <div class="large-3 small-3 columns">
                        <a href="#" class="button expand">Buscar</a>
                    </div>
                </div>
                </li>
            </ul>
        </section>
    </nav>
</div>

<div class="row">
    <dl class="tabs horizontal" data-tab>
        {% for coordenadoria in coordenadorias_adjuntas %}
            {% if coordenadoria.id == 1 %}
                <dd class="active"><a id="coord_adj{{coordenadoria.id}}"
                    href="#coordenadoria{{coordenadoria.id}}">{{coordenadoria.abreviacao}}</a></dd>
            {% else %}
                <dd><a id="coord_adj{{coordenadoria.id}}"
                    href="#coordenadoria{{coordenadoria.id}}">{{coordenadoria.abreviacao}}</a></dd>
            {% endif %}
        {% endfor %}
    </dl>
    <div class="tabs-content">
        {% for coordenadoria in coordenadorias_adjuntas %}
            {% if coordenadoria.id == 1 %}
                <div class="content active" id="coordenadoria{{coordenadoria.id}}">
            {% else %}
                <div class="content" id="coordenadoria{{coordenadoria.id}}">
            {% endif %}
                <dl class="tabs vertical" data-tab>
                    <dd id="panel2" class="active"><a id="busca_tab" href="#pesquisa" align="center">Departamentos</a></dd>
                    {% for departamento in coordenadoria.departamentos %}
                        <dd><a href="#departamento{{departamento.id}}">
                            <div class="row">
                                <div class="large-10 columns" align="left">{{departamento.descricao}}</div>
                                <div class="large-2 columns" align="center"><b>{{departamento.ramal_dpto|default_if_none:'---'}}</b></div>
                            </div>
                            </a>
                        </dd>
                    {% endfor %}
                </dl>
                <div class="tabs-content vertical">

                    <div class="content active" id="pesquisa">
                        <div class="row" align="center" id="divPesquisa">
                            <p><h5 id="mensagemBusca">Para realizar um consulta por nome, utilize a pesquisa acima. </h5></p>
                        </div>
                        <div class="row" align="center">
                            {% load staticfiles %}
                                <img id="loading" src="{% static "img/loading_ajax.gif" %}" alt="loading" width="30%" style="visibility: hidden;">
                        </div>
                    </div>

                    {% for coordenadoria in coordenadorias_adjuntas %}
                        {% for departamento in coordenadoria.departamentos %}
                            <div class="content" id="departamento{{departamento.id}}">
                                <div class="row" align="right">
                                    <br>
                                    <table>
                                        <thead>
                                            <th width="485">Nome</th>
                                            <th width="50">Ramal</th>
                                        </thead>

                                        <tbody>
                                        {% for funcionario in departamento.funcionarios %}
                                            <tr>
                                                <td>{{funcionario.pessoa.nome}}</td>
                                                {% if funcionario.ramal %}
                                                    <td><center>{{funcionario.ramal}}</center></td>
                                                {% else %}
                                                    <td><center>{{funcionario.departamento.ramal_dpto|default_if_none:'---'}}</center></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts_rodape %}
    <script type="text/javascript">
        function selecionarTabBusca(){
            $('#coord_adj1').click();
            $('#busca_tab').click();
        }
    </script>

    <script type="text/javascript">
        function buscaFuncionarios(){
            var nomeFuncionario = $('#procurar_funcionario').val();

            $('#loading').attr('style', 'visibility: visible;');

            $.ajax({
                type: "GET",
                url: "/telefones/funcionarios/" + nomeFuncionario,
                dataType: "json",
                success: function(lista){
                    var html =   '<div align="right"><br>'+
                                        '<table>' +
                                            '<thead>' +
                                                '<th width="133">Departamento</th>' +
                                                '<th width="350">Nome</th>' +
                                                '<th width="50">Ramal</th>' +
                                            '</thead>' +
                                            '<tbody>';

                    $.each(lista.funcionarios, function(i, funcionario){
                        if(nomeFuncionario == "") return false;
                        var departamento = funcionario.fields['departamento'];
                        var pessoa = funcionario.fields['pessoa'];
                        var ramal = funcionario.fields['ramal'];

                        ramal = (ramal == null ? departamento.ramal_dpto : ramal.ramal);
                        ramal = (ramal == null ? "---" : ramal);
                        departamento = (departamento == null ? "----" : departamento.abreviacao);

                        html += '<tr>' +
                                                    '<td>' + departamento + '</td>' +
                                                    '<td>' + pessoa.nome + '</td>' +
                                                    '<td><center>' + ramal + '</center></td>' +
                                                '</tr>';
                    })

                    html = html + '</tbody></table></div>';

                    $('#loading').attr('style', 'visibility: hidden;');
                    $('#divPesquisa').html(html);
                },
                error: function(){
                    $('#loading').attr('style', 'visibility: hidden;');
                    $('#divPesquisa').html('<p><h5 id="mensagemBusca">Para realizar um consulta por nome, utilize a pesquisa acima. </h5></p>');

                    if(nomeFuncionario == ""){
                        $('#mensagemBusca').html("Para realizar um consulta por nome, utilize a pesquisa acima.");
                    } else {
                        $('#mensagemBusca').html("Desculpe.. Não encontramos nenhum funcionário com o nome: <b>"
                        + nomeFuncionario + "</b>.");
                    }
                }
            })
        }
    </script>

{% endblock %}