{% extends 'base.html' %}

{% block titulo %}Ponto | SIC{% endblock %}

{% block top-bar %}{% endblock %}

{% block conteudo %}

    <div class="row" align="center">
        <h2>Ponto</h2><hr>
    </div>

    <div class="row">
        <div class="large-4 medium-4 columns"><p></p></div>
        <div class="large-4 medium-4 columns panel">
            <form action="javascript:registrar_ponto()">
                <div class="row">
                    <div class="large-12 columns">
                        <input type="text" placeholder="Matrícula" name="matricula" id="matricula" required>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 medium-2 columns"><p></p></div>
                    <div class="large-8 medium-8 columns">
                        <button id="registrar_ponto" class="postfix radius">Registrar Ponto</button>
                    </div>
                    <div class="large-2 medium-2 columns"><p></p></div>
                </div>
            </form>
        </div>
        <div class="large-4 medium-4 columns"><p></p></div>
    </div>

{% endblock %}

{% block modal_erro %}Capacitando não encontrado ou inativo(a).{% endblock %}

{% block modal %}

<div id="modal_ponto" class="reveal-modal medium" data-reveal>
  <center>
    <img id="ponto_imagem">
    <p id="ponto_mensagem" style="font-size:48px;"></p>
  </center>
</div>

{% endblock %}

{% block scripts_ajax %}

    <script type="text/javascript">

    function registrar_ponto(){
        $('#matricula').attr('readonly', true);
        var matricula = $('#matricula').val();
        if(matricula!=0){
            $.ajax({
                type: "GET",
                url: "/ponto/registro/" + matricula,
                dataType: "text",
                success: function(mensagem){
                    $('#ponto_mensagem').text(mensagem)
                    $('#modal_ponto').foundation('reveal', 'open');
		    	          $('#ponto_imagem').attr('height', '400px');
        		        $('#ponto_imagem').attr('width', '400px');
            		    $('#ponto_imagem').attr('align', 'center');

                    timeout = 0;

        		        if(mensagem == "Ponto registrado com sucesso!")
		                {
                		    $('#ponto_imagem').attr('src', '../static/img/green-check.png');
                        timeout = 1500;
        		        }
		                else
		                {
		    	              $('#ponto_imagem').attr('src', '../static/img/red-x.png');
                        timeout = 5000;
		                }

                    setTimeout(function(){
                        $('#modal_ponto').foundation('reveal', 'close');
                        $('#matricula').val('');
                        $('#matricula').attr('readonly', false);
                        $('#matricula').focus();
                    }, timeout);
                }
            });
        }
    };
    </script>

{% endblock %}

{% block scripts_rodape %}

    <script type="text/javascript">
        document.getElementById('matricula').focus();
    </script>

    {% if capacitando_inativo == True %}
        <script type="text/javascript">
            $('#modal_erro').foundation('reveal', 'open');
        </script>
    {% endif %}
{% endblock %}
