  <div class=" sticky">
      <nav class="top-bar" data-topbar data-options="sticky_on: large">
          <ul class="title-area">
              <li class="name">
                  <h1><a href="/">Sistema Integrado CIAS</a></h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          {% if user.is_authenticated %}

            <section class="top-bar-section">
              <ul class="right">
                <li class="divider"></li>
                <li id="alterar_senha_id"><a href="" data-reveal-id="modal_alterar_senha">Alterar Senha</a></li>
                <li class="divider"></li>
                <li><a href="">Olá, <b>{{user}}</b></a></li>

                <li class="active">
                  <a href="/login/sair">Sair</a>
                </li>
              </ul>
            </section>

          {% else %}
          {% endif %}
      </nav>
  </div>